{% extends 'article/base.html' %}
{% load crispy_forms_tags %}
{% block title_page %}
<title>Обновить профиль</title>
{% endblock title_page %}
{% block content %}
<form method="post">
        {% csrf_token %}
            <p>
                <label for="birth_date">Дата рождения: </label>
                <input type="date" name="birth_date"/>
                {% if error_birth_date %}
                <p style="color:#ff0000">Вы ведь ещё не родились:) Введите корректную дату!</p>
                {% endif %}
            </p>
    <p><button type="submit">Отправить</button></p>
    </form>
{% endblock %}