{% extends 'article/base.html' %}
{% load static %}

{% block css_additional %}
<link rel="stylesheet" href="{% static 'article/css/favorite.css'%}">
{% endblock %}

{% block title %}
Избранное
{% endblock %}

{% block content %}
{% if article %}
<div class="p-4 text-white rounded bg-dark">
    <a href="{% url 'article:sort_by_alphabet' %}">Алфавит</a>
    <hr>
    <div class="col-md-15 px-0">
        {% for item in article %}
      <h1 class="display-4 fst-italic">{{ item.title }}</h1>
        <h2>Автор: {{ item.author_article.name }}</h2>
      <p style="height: 60px; overflow: hidden;" class="lead my-3">{{ item.text }}</p>
      <p class="lead mb-0"><a href="{% url 'article:detail' item.id %}" class="text-white fw-bold">Продолижить читать...</a></p>
        <hr>
        {% endfor %}
        {% else %}
        <h1>У вас нету избранной статьи</h1>
        {% endif %}
    </div>
  </div>
{% endblock %}